.textCom{
	width:760px;
	background-color: #ffffff;
	border-radius:6px;
	height:200px;
	border:0px;
	color:black;
	font-size:18px;
}

td{
	width:50%;
}

.textResult{
	background-color:#ffffff;
	width:75%;
	height:50px;
	boerder:0px solid #c0c0c0;
	border-radius:6px;
	color:black;
}

.raiseTable{
	
}

.checkimg{
	width:30%;
}

.contaiter{
	width: 75%;
    padding-right: 15px;
    padding-left: 15px;
    color:black;
}

.container_roud{
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    color:black;
    background-color:#f5f6f7;
}


@media (min-width: 992px)

{
	.contaiter{
	max-width:960px;
	}
	.container_roud{
	max-width:960px;
	}
	
}

@media (min-width: 768px)
	{
		.contaiter{
		max-width:740px;
		}
		.container_roud{
	max-width:740px;
	}
	}


@media (min-width: 576px)
{
	.contaiter{
	max-width:540px;
	margin-left:40%;
	}
	.container_roud{
	max-width:800px;
	margin-left:30%;
	margin-top:50px;
	margin-bottom:50px;

	}
	
}
@media (max-width:500px)
{
	.emailSubmit
	{
		max-width:50%;
	}
	.raiseNextForm{
		max-width:200px;
		margin-left:-10px;
	}
	
	.textCom{
		max-width:200px;
	}
}




.raiseNextForm{
	margin-bottom:10px;
	width:760px;
	height:50px;
	border:0px solid #ffffff;
	border-radius:6px;
	font-size:25px;
	padding-left:10px;
	background-color: #ffffff;
	color:black;
}

.registerNextForm{
	margin-bottom:10px;
	width:75%;
	height:50px;
	border:0px solid #ffffff;
	border-radius:6px;
	font-size:25px;
	padding-left:10px;
	background-color: #ffffff;
	color:black;
}

input[type=color]{
	width:75%;
	height:40%;
}

.bg-gray{
	background-color:#f5f6f7;
}


input#fileUp {
	background-color:;
}

select#startSel {
	background-color: #ffffff;
	color:black;
	border:0px solid #c0c0c0;
	border-radius:6px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::placeholder {
  color: #e0e0e0;
  margin-left: 90%;
  font-size:20px;
}

.emailSubmit
{
	background-color:#000000;
	width:75%;
	height:30px;
	border:0px solid black;
	border-radius:6px;
	color:white;
	cursor:pointer;
	
}

.jusoFrom{
	margin-bottom:10px;
	width:35%;
	height:50px;
	border:0px solid #c0c0c0;
	border-radius:6px;
	font-size:25px;
	padding-left:10px;
	background-color: white;
	color:black;
}

.findNumberBtn{
	width:30%;
	height:50px;
	background-color: black;
	color:white;
	border:0px;
	border-radius:4px;
	padding-top:10px;
	cursor:pointer;
}

.dotted{
	border:dotted 2px #c0c0c0;
	width:100%;

	
}