.textCom{
	width:75%;
	background-color: #1fa67b;
	border-radius:6px;
	height:200px;
	border:0px;
	color:white;
	font-size:18px;
}

td{
	width:50%;
}

.textResult{
	background-color:#ffffff;
	width:75%;
	height:50px;
	boerder:0px solid #c0c0c0;
	border-radius:6px;
	color:black;
}

.raiseTable{
	
}

.checkimg{
	width:30%;
}

.contaiter{
	width: 75%;
    padding-right: 15px;
    padding-left: 15px;
    color:black;

   
}

@media (min-width: 992px)

{
	.contaiter{
	max-width:960px;
	}
}

@media (min-width: 768px)
	{
		.contaiter{
		max-width:740px
		}
	}


@media (min-width: 576px)
{
	.contaiter{
	max-width:540px;
	margin-left:40%;
	}
	
}


.raiseNextForm{
	margin-bottom:10px;
	width:75%;
	height:50px;
	border:0px solid #c0c0c0;
	border-radius:6px;
	font-size:25px;
	padding-left:10px;
	background-color: #1fa67b;
	color:white;
}

input[type=color]{
	width:75%;
	height:40%;
}

.bg-gray{
	background-color:rgb(248, 249, 250);;
}

input#fileUp {
	background-color:;
}

select#startSel {
	background-color: #1fa67b;
	color:white;
	border:0px solid #c0c0c0;
	border-radius:6px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::placeholder {
  color: #e0e0e0;
  margin-left: 90%;
  font-size:20px;
}