
div#list {
    cursor: pointer;
    transition: all ease 1s;
}

#list:hover {
transform: scale( 1.1 );
}

img.str {
	width: 40px;
    height: 40px;
    cursor: pointer;
    padding-bottom:15px;
    text-align:right;
/*     margin-right:150px; */
}

img.xcl {
	cursor: pointer;
	float:right;
/* 	margin-right:420px; */
}


#btn {
	border-radius: 5px;
	border: 0px; 
	background-color:DodgerBlue;
	color:white;
	cursor: pointer;
}

#btn:hover{
	background-color:navy;
}

.schTable{
	margin-top:10%;
	margin-left:20%;
	width:700px;
}
.schTxt{
	width:600px;
	height:60px;
	font-size: 20px;
}

.schImg{
	margin:0px;
	width:60px;
	height:60px;
}

#txt1,#txt2,#txt3,#txt4,#txt5,#txt6{
	text-align:center;
}

div#menuList {
	text-align:center;
}
a#menuList2 {
	color:#1fa67b;
	font-size:18px;
	font-weight:bold;
}
#menuList2:hover {
transform: scale( 1.05 );
background-color:#d9ece6;
}
